@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a VIVE MÁS</h1>
    <br> 
    <p>¿Desea acceder como usuario? <a href= "http://localhost:7548/AccesoUsuarios/Create"> Click Aquí </a> </p> <br/>
    <p>¿Desea acceder como administrador? <a href= "http://localhost:7548/AccesoAdministradores/Create"> Click Aquí </a> </p> <br/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
